* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.918);
}

.flex-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 5rem;
}
.fbk-logo {
  font-size: 50px;
  color: hsl(208, 92%, 53%);
  margin-bottom: .25em;
}

.log-d {
  background-color: white;
  border-radius: 1rem;
  padding: 20px;
}

.b-ch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.b-ch3 {
  padding: 1em;
}


.email-input {
  margin-bottom: 1em;
  padding: 1em;
  width: 25em;
  border-radius: .45em;
  background: transparent;
}

.input-password {
  margin-bottom: 1em;
  padding: 1em;
  width: 25em;
  border-radius: .45em;
  background: transparent;
}

.email-input::placeholder,
.input-password::placeholder
  {
    color: hsl(100 65%  35% / 0.3);
  }

.login-button {
  background-color: hsl(208, 92%, 53%);
  color: #fff;
  padding: .35em;
  width: 14em;
  font-size: 1.5em;
  font-weight: bolder;
  border-radius: .45em;
  border: none;
  cursor: pointer;
}

.forgot-password {
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  color: hsl(208, 92%, 53%);
  padding: 1em;
}

.create-account {
  margin: 1em 0  0 4.5em;
  background-color: darkgreen;
  color: #fff;
  padding: .80em;
  width: 12em;
  font-size:1em;
  font-weight: bolder;
  border-radius: .45em;
  border: none;
  opacity: .8;
}

.create-page {
  float: right;
  padding: 15px;
  padding-right: 70px;
}

@media all and (max-width:900px) {
  .flex-login {
    display: block;
    margin: auto;
  }
 .flex-me,
 .create-page
 {
  display: flex;
  justify-content: center;
  align-items: center;
 }  
 
 .facebook {
  margin-bottom: 2em;
 }
}